# Dependencies
node_modules/

# Build outputs
dist/
out/
.next/
cdk.out/
cdk.context.json

# Turborepo
.turbo/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo


tsconfig.tsbuildinfo